*.pyc
*~
.*.sw[op]
*.egg-info
dist
build
local
local.properties
distribute-*
tests/temp
/org
/docs/_build
.project
.pydevproject
tests/tmp*
.cache/
.env
/stdlib_tests/*.class
/stdlib_tests/python
/python/*.class

.DS_Store
.idea/
.vscode

/env
/gen
/stdlib_tests/env/
voc.iml
apache-ant-1.10.7-bin.tar.gz
apache-ant-1.10.7/bin/ant
apache-ant-1.10.7/bin/ant.bat
apache-ant-1.10.7/bin/ant.cmd
apache-ant-1.10.7/bin/antenv.cmd
apache-ant-1.10.7/bin/antRun
apache-ant-1.10.7/bin/antRun.bat
apache-ant-1.10.7/bin/antRun.pl
apache-ant-1.10.7/bin/complete-ant-cmd.pl
apache-ant-1.10.7/bin/envset.cmd
apache-ant-1.10.7/bin/lcp.bat
apache-ant-1.10.7/bin/runant.pl
apache-ant-1.10.7/bin/runant.py
apache-ant-1.10.7/bin/runrc.cmd
apache-ant-1.10.7/CONTRIBUTORS
apache-ant-1.10.7/contributors.xml
apache-ant-1.10.7/etc/ant-bootstrap.jar
apache-ant-1.10.7/etc/changelog.xsl
apache-ant-1.10.7/etc/checkstyle/checkstyle-frames-sortby-check.xsl
apache-ant-1.10.7/etc/checkstyle/checkstyle-frames.xsl
apache-ant-1.10.7/etc/checkstyle/checkstyle-text.xsl
apache-ant-1.10.7/etc/checkstyle/checkstyle-xdoc.xsl
apache-ant-1.10.7/etc/coverage-frames.xsl
apache-ant-1.10.7/etc/jdepend-frames.xsl
apache-ant-1.10.7/etc/jdepend.xsl
apache-ant-1.10.7/etc/junit-frames-xalan1.xsl
apache-ant-1.10.7/etc/junit-frames.xsl
apache-ant-1.10.7/etc/junit-noframes.xsl
apache-ant-1.10.7/etc/log.xsl
apache-ant-1.10.7/etc/maudit-frames.xsl
apache-ant-1.10.7/etc/mmetrics-frames.xsl
apache-ant-1.10.7/etc/tagdiff.xsl
apache-ant-1.10.7/fetch.xml
apache-ant-1.10.7/get-m2.xml
apache-ant-1.10.7/INSTALL
apache-ant-1.10.7/KEYS
apache-ant-1.10.7/lib/ant-antlr.jar
apache-ant-1.10.7/lib/ant-antlr.pom
apache-ant-1.10.7/lib/ant-apache-bcel.jar
apache-ant-1.10.7/lib/ant-apache-bcel.pom
apache-ant-1.10.7/lib/ant-apache-bsf.jar
apache-ant-1.10.7/lib/ant-apache-bsf.pom
apache-ant-1.10.7/lib/ant-apache-log4j.jar
apache-ant-1.10.7/lib/ant-apache-log4j.pom
apache-ant-1.10.7/lib/ant-apache-oro.jar
apache-ant-1.10.7/lib/ant-apache-oro.pom
apache-ant-1.10.7/lib/ant-apache-regexp.jar
apache-ant-1.10.7/lib/ant-apache-regexp.pom
apache-ant-1.10.7/lib/ant-apache-resolver.jar
apache-ant-1.10.7/lib/ant-apache-resolver.pom
apache-ant-1.10.7/lib/ant-apache-xalan2.jar
apache-ant-1.10.7/lib/ant-apache-xalan2.pom
apache-ant-1.10.7/lib/ant-commons-logging.jar
apache-ant-1.10.7/lib/ant-commons-logging.pom
apache-ant-1.10.7/lib/ant-commons-net.jar
apache-ant-1.10.7/lib/ant-commons-net.pom
apache-ant-1.10.7/lib/ant-imageio.jar
apache-ant-1.10.7/lib/ant-imageio.pom
apache-ant-1.10.7/lib/ant-jai.jar
apache-ant-1.10.7/lib/ant-jai.pom
apache-ant-1.10.7/lib/ant-javamail.jar
apache-ant-1.10.7/lib/ant-javamail.pom
apache-ant-1.10.7/lib/ant-jdepend.jar
apache-ant-1.10.7/lib/ant-jdepend.pom
apache-ant-1.10.7/lib/ant-jmf.jar
apache-ant-1.10.7/lib/ant-jmf.pom
apache-ant-1.10.7/lib/ant-jsch.jar
apache-ant-1.10.7/lib/ant-jsch.pom
apache-ant-1.10.7/lib/ant-junit.jar
apache-ant-1.10.7/lib/ant-junit.pom
apache-ant-1.10.7/lib/ant-junit4.jar
apache-ant-1.10.7/lib/ant-junit4.pom
apache-ant-1.10.7/lib/ant-junitlauncher.jar
apache-ant-1.10.7/lib/ant-junitlauncher.pom
apache-ant-1.10.7/lib/ant-launcher.jar
apache-ant-1.10.7/lib/ant-launcher.pom
apache-ant-1.10.7/lib/ant-netrexx.jar
apache-ant-1.10.7/lib/ant-netrexx.pom
apache-ant-1.10.7/lib/ant-parent.pom
apache-ant-1.10.7/lib/ant-swing.jar
apache-ant-1.10.7/lib/ant-swing.pom
apache-ant-1.10.7/lib/ant-testutil.jar
apache-ant-1.10.7/lib/ant-testutil.pom
apache-ant-1.10.7/lib/ant-xz.jar
apache-ant-1.10.7/lib/ant-xz.pom
apache-ant-1.10.7/lib/ant.jar
apache-ant-1.10.7/lib/ant.pom
apache-ant-1.10.7/lib/junit-platform-console-standalone-1.7.0.jar
apache-ant-1.10.7/lib/libraries.properties
apache-ant-1.10.7/lib/README
apache-ant-1.10.7/LICENSE
apache-ant-1.10.7/NOTICE
apache-ant-1.10.7/patch.xml
apache-ant-1.10.7/README
apache-ant-1.10.7/WHATSNEW
